extends layout

block content
  validationErrors(errors)
    if errors
      div(class='' role='alert')
        p The following error(s) occurred:
        ul
          each error in errors
            li= error
  form(action="/signup" method="post")
    input(type="hidden" name="_csrf" value=token)
    div(class="form-div")
      label(for="username") Username
      input(type="text" name='username' required value=user.username)
    div(class="form-div")
      label(for="fullName") Full Name
      input(type="text" name='fullName' required value=user.fullName)
    div(class="form-div")
      label(for="email") Email
      input(type="text" name='email' required value=user.email)
    div(class="form-div")
      label(for="hashedPassword") Password
      input(type="password" name='hashedPassword' required)
    div(class="form-div")
      label(for="confirmPassword") Confirm Password
      input(type="password" name='confirmPassword' required)
    div(class="btn")
      button(type="submit") Sign Up
