extends layout

block content
  validationErrors(errors)
    if errors
      div(class='' role='alert')
        p The following error(s) occurred:
        ul
          each error in errors
            li= error
  form(class="signup-form" action="/signup" method="post" autocomplete="off")
    div(class="form-wrapper")
      h2(class="signup-title") Not a current user? Sign-up below!
      input(type="hidden" name="_csrf" value=token)
      div(class="form-div")
        label(class="signup-label" for="username") Username
        input(class="signup-input" type="text" name='username' required value=user.username)
      div(class="form-div")
        label(class="signup-label" for="fullName") Full Name
        input(class="signup-input" type="text" name='fullName' required value=user.fullName)
      div(class="form-div")
        label(class="signup-label" for="email") Email
        input(class="signup-input" type="text" name='email' required value=user.email)
      div(class="form-div")
        label(class="signup-label" for="hashedPassword") Password
        input(class="signup-input" type="password" name='hashedPassword' required)
      div(class="form-div")
        label(class="signup-label" for="confirmPassword") Confirm Password
        input(class="signup-input" type="password" name='confirmPassword' required)
      div(class="form-div")
        button(class="btn" type="submit") Sign Up
