html
    head
    body
        table
            thead
                tr
                    th Task Name
                    th List Name
                    th Due Time
                    th Completion Status
                    th Description
            tbody
                each task in tasks
                    tr
                        td=task.name
                        td=task.List.name
                        td=task.due
                        td=task.completionStatus
                        td=task.description
